*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    border: 1px solid;
    display: grid;
    background: #020024;
background: linear-gradient(90deg, rgb(5, 1, 95) 0%, rgba(9, 9, 121, 1) 100%);
    place-content: center;
    height: 100vh;
}
.container{
    box-shadow: rgba(226, 226, 229, 0.705) 0px 7px 29px 0px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    margin: 20px;
    width: 500px;
    text-align: center;
    border-radius: 20px;

}
.container label{
    text-shadow: 2px 2px 0px rgba(227, 117, 8, 0.84);
    font-size: 50px;
    color: rgb(0, 217, 255);
}
.container textarea{
     font-size: 1.2rem;
    width: 450px;
    height: 200px;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    border: none;

}
.container button{
    
    background-image: linear-gradient(to right, #00c6ff 0%, #0072ff  51%, #00c6ff  100%);
    /* background-image: linear-gradient(to right, #2b5876 0%, #4e4376  51%, #2b5876  100%); */
    width: 450px;
    border-radius: 10px;
    padding: 10px;
    margin: 10px auto;
    font-size: 1.2rem;
}
h1{
    padding: 10px;
    color: #00C9FF;
}

