* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    height: 100vh;
    display: flex;
    justify-content: center;
    background: url("../array/67dfe330fe8f9aafc63cfaa118a6f76b.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

form {
    margin-top: 5%;
    /* width: 400px; */
    /* height: 70vh; */
    display: flex;
    border-radius: 20px;
    border: 1px solid red;
    flex-direction: column;
    justify-content: center;

}

form h1 {
    color: chocolate;
    font-size: 40px;
    margin: 10px;
    text-align: center;
}

/* form textarea {
    width: 350px;
    height: 40px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
} */

form input {
    width: 350px;
    padding: 10px;
    margin: 10px;
    height: 40px;
    border-radius: 10px;
}

form button {
    width: 350px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}
form .error{

    margin: 2px 2px 2px 10px;
    color: red;
}
form  h3{
    text-align: center;
    font-size: 1.5rem;
    color: aliceblue;
}